<div class="mx-4 my-2">


    <!-- Hotel photos carousel -->
    <ngx-slick-carousel class="carousel" [config]="slideConfig">
        <div ngxSlickItem *ngFor="let photo of hotelPhotos">
            <img [src]="photo.imageUrl" alt="" class="carousel-image rounded-3xl px-0.5 py-1" />
        </div>
    </ngx-slick-carousel>


    <!-- Hotel info -->
    <div class="flex flex-col items-center mx-auto mt-4 mb-4">
        <h1 class="text-6xl font-bold tracking-tight text-gray-700 sm:text-6xl mx-auto mt-4 mb-2">{{hotel!.name}}</h1>
    <h1 class="text-xl tracking-tight text-gray-600 sm:text-2xl mx-auto mt-2 mb-2">{{hotel!.address}}</h1>
        <div class="flex items-center mt-2">
            <ng-container *ngFor="let star of [1, 2, 3, 4, 5]">
                <svg [class]="star <= hotel!.stars ? 'w-10 h-10 fill-current text-yellow-400' : 'w-10 h-10 fill-current text-gray-300 stroke-current'"
                    viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M12 2.5l2.45 6.79h6.305l-5.585 4.432L17.18 21.71 12 17.626l-5.18 4.084 1.92-5.798-5.585-4.432H9.55L12 2.5zm0 2.804l-1.788 4.972H6.4l4.393 3.484-1.625 4.915L12 15.658l3.83 3.118-1.626-4.915 4.393-3.484h-3.81L12 5.303z" />
                </svg>
            </ng-container>
        </div>
    </div>
    <h1 class="text-2xl tracking-tight text-gray-600 sm:text-2xl mx-auto mt-4 mb-8">{{hotel!.description}}</h1>




    <!-- Rooms cards -->
    <div class="mt-4">

        <!-- Room card -->
        <ng-container *ngFor="let room of hotel!.rooms">
            <!-- <div *ngIf="room.quantity > 0 && room.quantity - room.quantityReserved > 0"></div> -->
            <div class="bg-gray-100 p-4 rounded-lg mb-4 w-1/2">
                <div>
                    <div>
                        <p class="text-3xl font-semibold text-gray-800">{{ room.price }} BYN</p>
                        <p>Спальных мест: {{ room.sleepingPlaces }}</p>
                        <p>Тип номера: {{ getRoomTypeName(room.roomTypeId) }}</p>
                    </div>
                    <button
                        class="flex items-center justify-center md:w-1/3 sm:w-1/2 max-sm:w-full rounded-lg bg-indigo-600 px-4 py-2 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 mt-2"
                        (click)="openModal(room)">
                        Перейти к бронированию
                    </button>
                </div>

                <!-- Carousel -->
                <ngx-slick-carousel class="w-auto h-auto mt-2 rounded-lg carousel" [config]="slideConfigStatic">
                    <div ngxSlickItem *ngFor="let photo of room.roomPhotos">
                        <img [src]="photo.imageUrl" alt="" class="carousel-image rounded-3xl px-1 py-1" />
                    </div>
                </ngx-slick-carousel>

                <!-- Modal -->
                <div id="modalEl" tabindex="-1" aria-hidden="true"
                    class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-modal md:h-full">
                    <div class="relative w-full h-full max-w-2xl md:h-auto">

                        <div class="relative bg-white rounded-2xl shadow dark:bg-gray-700">
                            <div class="flex items-start justify-between p-5 border-b rounded-t dark:border-gray-600">
                                <h3 class="text-xl font-semibold text-gray-900 lg:text-2xl dark:text-white">
                                    Забронировать комнату
                                </h3>
                                <button type="button" (click)="closeModal()"
                                    class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white">
                                    <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                            d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                            clip-rule="evenodd"></path>
                                    </svg>
                                </button>
                            </div>

                            <form class="px-4" [formGroup]="reservationForm" *ngIf="currentRoom">
                                <div class="p-6">

                                    <div class="mr-10">
                                        <label for="dateStart" class="block text-gray-700 text-xl ">
                                            Введите дату заезда:
                                        </label>
                                        <input formControlName="dateStart" id="dateStart" name="dateStart" type="date"
                                            (ngModelChange)="calculatePrice(currentRoom)" [min]="minimumDate"
                                            class="border rounded-md px-3 py-1 focus:outline-none focus:ring w-44">
                                    </div>

                                    <div class="mr-10 mt-4">
                                        <label for="dateEnd" class="block text-gray-700 text-xl">
                                            Введите дату выезда:
                                        </label>
                                        <input formControlName="dateEnd" id="dateEnd" name="dateEnd" type="date"
                                            (ngModelChange)="calculatePrice(currentRoom)" [min]="minimumDate"
                                            class="border rounded-md px-3 py-1 focus:outline-none focus:ring w-44">
                                    </div>

                                    <div class="mt-7">
                                        <p>Спальных мест: {{ currentRoom.sleepingPlaces }}</p>
                                        <p>Тип номера: {{ getRoomTypeName(currentRoom.roomTypeId) }}</p>
                                    </div>

                                    <div class="mt-7">
                                        <h2 class="text-2xl font-semibold text-gray-700" id="totalPrice">
                                            Итоговая стоимость: {{this.totalPrice}} BYN
                                        </h2>
                                    </div>

                                </div>
                            </form>
                            <div *ngIf="currentRoom"
                                class="flex items-center p-6 space-x-2 border-t border-gray-200 rounded-b dark:border-gray-600">
                                <button type="button"
                                    class="text-white bg-indigo-600 hover:bg-indigo-500 focus:ring-4 focus:outline-none focus:ring-indigo-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-indigo-600 dark:hover:bg-indigo-700 dark:focus:ring-indigo-800"
                                    (click)="reserveRoom(currentRoom)">
                                    Забронировать
                                </button>
                                <button type="button"
                                    class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-indigo-300 rounded-lg border border-gray-300 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600"
                                    (click)="closeModal()">
                                    Отмена
                                </button>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </ng-container>
    </div>
</div>