<div class="my-8 mx-10">

    <!-- Hotels -->
    <div>
        <div class="flex mb-6">
            <div>
                <h1 class="text-4xl font-bold tracking-tight text-gray-700 sm:text-5xl mx-auto mt-4 mb-2">
                    Список отелей
                </h1>
            </div>
            <div class="mt-6 mb-0 ml-20">
                <button class="bg-blue-600 hover:bg-blue-500 text-white font-semibold py-2 px-6 rounded-xl"
                    (click)="openModalCreate()">Добавить отель</button>
            </div>
        </div>


        <!-- Table -->
        <table class="min-w-full">
            <thead>
                <tr>
                    <th
                        class="mx-12 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                        Название</th>
                    <th
                        class="mx-10 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                        Количество звёзд</th>
                    <th
                        class="mx-10 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                        Описание</th>
                    <th
                        class="mx-10 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                        Адрес</th>
                    <th class="mx-0 py-3 bg-gray-50"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let hotel of hotels">
                    <td class="mx-12 py-4 whitespace-no-wrap border-b border-gray-200">{{ hotel.name }}</td>
                    <td class="mx-10 py-4 whitespace-no-wrap border-b border-gray-200">{{ hotel.stars }}</td>
                    <td class="mx-10 py-4 whitespace-no-wrap border-b border-gray-200">{{ hotel.description }}</td>
                    <td class="mx-10 py-4 whitespace-no-wrap border-b border-gray-200">{{ hotel.address }}</td>
                    <td class="mx-0 py-4 whitespace-no-wrap text-center border-b border-gray-200">
                        <button
                            class="bg-indigo-600 hover:bg-indigo-500 text-white font-semibold py-2 px-4 rounded-xl  mr-6"
                            (click)="openModal(hotel)">Редактировать</button>
                        <button
                            class="bg-red-500 hover:bg-red-700 text-white font-semibold py-2 px-4 rounded-xl mt-2 mr-5"
                            (click)="deleteHotel(hotel.id)">Удалить</button>
                    </td>


                    <!-- Modal Edit-->
                    <div id="modalEl" tabindex="-1" aria-hidden="true"
                        class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-modal md:h-full">
                        <div class="relative w-full h-full max-w-2xl md:h-auto">

                            <div class="relative bg-white rounded-2xl shadow dark:bg-gray-700">
                                <div
                                    class="flex items-start justify-between p-5 border-b rounded-t dark:border-gray-600">
                                    <h3 class="text-xl font-semibold text-gray-900 lg:text-2xl dark:text-white">
                                        Редактирование отеля
                                    </h3>
                                    <button type="button" (click)="closeModal()"
                                        class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white">
                                        <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd"
                                                d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                                clip-rule="evenodd"></path>
                                        </svg>
                                    </button>
                                </div>

                                <form class="px-4" *ngIf="currentHotel !== undefined" [formGroup]="hotelForm">
                                    <div class="p-6">
                                        <div class="mr-10">
                                            <label for="name" class="block text-gray-700 text-xl ">
                                                Название отеля:
                                            </label>
                                            <input formControlName="name" id="name" name="name" type="text"
                                                class="border rounded-md px-3 py-1.5 text-md focus:outline-none focus:ring w-52 mt-2"
                                                [value]="currentHotel!.name">
                                        </div>

                                        <div class="mr-10 mt-4">
                                            <label for="description" class="block text-gray-700 text-xl ">
                                                Краткое описание отеля:
                                            </label>
                                            <input formControlName="description" id="description" name="description"
                                                type="text"
                                                class="border rounded-md px-3 py-1.5 text-md focus:outline-none focus:ring w-3/4 mt-2"
                                                [value]="currentHotel!.description">
                                        </div>

                                        <div class="mr-10 mt-4">
                                            <label for="address" class="block text-gray-700 text-xl ">
                                                Адрес отеля:
                                            </label>
                                            <input formControlName="address" id="address" name="address" type="text"
                                                placeholder="Страна, Город, Улица, Дом, Корпус"
                                                class="border rounded-md px-3 py-1.5 text-md focus:outline-none focus:ring w-3/4 mt-2"
                                                [value]="currentHotel!.address">
                                        </div>

                                        <div class="mr-10 mt-4">
                                            <label for="stars" class="block text-gray-700 text-xl ">
                                                Количество звезд:
                                            </label>
                                            <input formControlName="stars" id="stars" name="stars" type="number" min="1"
                                                max="5"
                                                class="border rounded-md px-3 py-1.5 text-md focus:outline-none focus:ring w-48 mt-2"
                                                [value]="currentHotel!.stars">
                                        </div>
                                    </div>
                                </form>
                                <div *ngIf="currentHotel"
                                    class="flex items-center p-6 space-x-2 border-t border-gray-200 rounded-b dark:border-gray-600 ml-4">
                                    <button type="button"
                                        class="text-white bg-indigo-600 hover:bg-indigo-500 focus:ring-4 focus:outline-none focus:ring-indigo-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-indigo-600 dark:hover:bg-indigo-700 dark:focus:ring-indigo-800"
                                        (click)="updateHotel(currentHotel!.id)">
                                        Обновить
                                    </button>
                                    <button type="button"
                                        class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-indigo-300 rounded-lg border border-gray-300 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600"
                                        (click)="closeModal()">
                                        Отмена
                                    </button>
                                </div>

                            </div>
                        </div>
                    </div>


                    <!-- Modal create -->
                    <div id="create-modal" tabindex="-1" aria-hidden="true"
                        class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
                        <div class="relative p-4 w-full max-w-md max-h-full">
                            <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                                <div
                                    class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                                    <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
                                        Добавить отель
                                    </h3>
                                    <button type="button" (click)="closeModalCreate()"
                                        class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
                                        data-modal-toggle="create-modal" data-modal-target="create-modal">
                                        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                            fill="none" viewBox="0 0 14 14">
                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                                stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                                        </svg>
                                    </button>
                                </div>
                                <form class="p-4 md:p-5" [formGroup]="hotelFormCreate">
                                    <div class="grid gap-4 mb-4 grid-cols-2">
                                        <div class="col-span-2">
                                            <label for="name"
                                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                                                Название отеля
                                            </label>
                                            <input type="text" name="name" id="name" formControlName="name"
                                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                                                placeholder="Введите название" required="">
                                        </div>
                                        <div class="col-span-2">
                                            <label for="address"
                                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                                                Адрес отеля
                                            </label>
                                            <input type="text" name="address" id="address" formControlName="address"
                                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                                                placeholder="Страна, Город, Улица, Дом, Корпус" required="">
                                        </div>
                                        <div class="col-span-2 sm:col-span-1">
                                            <label for="stars"
                                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                                                Количество звёзд
                                            </label>
                                            <input type="number" name="stars" id="stars" formControlName="stars" min="1"
                                                max="5"
                                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                                                placeholder="" required="">
                                        </div>
                                        <div class="col-span-2">
                                            <label for="description"
                                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                                                Описание отеля
                                            </label>
                                            <textarea id="description" rows="4" formControlName="description"
                                                class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-indigo-500 focus:border-indigo-500 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-indigo-500 dark:focus:border-indigo-500"
                                                placeholder="Краткое описание в нескольких предложениях"></textarea>
                                        </div>
                                    </div>
                                    <button (click)="createHotel()"
                                        class="text-white inline-flex items-center bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-indigo-800">
                                        <svg class="me-1 -ms-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd"
                                                d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z"
                                                clip-rule="evenodd"></path>
                                        </svg>
                                        Добавить отель
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>

                </tr>
            </tbody>
        </table>
    </div>









    <!-- Rooms -->
    <div>


        <div>
            <h1 class="text-4xl font-bold tracking-tight text-gray-700 sm:text-5xl mx-auto mt-28 mb-10">
                Список комнат
            </h1>

        </div>

        <!-- Table -->
        <div *ngFor="let hotel of hotels">

            <div class="flex mb-0 mt-6">
                <div>
                    <h2 class="text-3xl font-bold tracking-tight text-gray-700 sm:text-3xl mx-auto mt-4 mb-4">{{
                        hotel.name }}</h2>
                </div>
                <div class="mt-4 mb-4 ml-10">
                    <button class="bg-blue-600 hover:bg-blue-500 text-white font-semibold py-2 px-6 rounded-xl"
                        (click)="openModalCreateRoom()">Добавить комнату</button>
                </div>
            </div>

            <table class="min-w-full" *ngIf="hotel.rooms !== undefined && hotel.rooms.length > 0">
                <thead>
                    <tr>
                        <th
                            class="mx-10 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                            Тип комнаты
                        </th>
                        <th
                            class="mx-10 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                            Спальных мест
                        </th>
                        <th
                            class="mx-12 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                            Цена за сутки
                        </th>
                        <th
                            class="mx-10 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                            Всего таких комнат
                        </th>
                        <th
                            class="mx-10 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                            Занято комнат сейчас
                        </th>
                        <th
                            class="mx-10 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                            Свободно комнат сейчас
                        </th>
                        <th
                            class="mx-10 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                            Отель
                        </th>
                        <th class="mx-0 py-3 bg-gray-50"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let room of hotel.rooms">
                        <td class="mx-10 py-4 whitespace-no-wrap border-b border-gray-200">
                            {{ getRoomTypeName(room.roomTypeId) }}
                        </td>
                        <td class="mx-10 py-4 whitespace-no-wrap border-b border-gray-200">
                            {{ room.sleepingPlaces }}
                        </td>
                        <td class="mx-12 py-4 whitespace-no-wrap border-b border-gray-200">{{ room.price }} BYN</td>
                        <td class="mx-10 py-4 whitespace-no-wrap border-b border-gray-200 font-semibold">
                            {{ room.quantity }}</td>
                        <td class="mx-10 py-4 whitespace-no-wrap border-b border-gray-200 text-red-500 font-semibold">
                            {{
                            room.quantityReserved !== 0
                            ? room.quantityReserved
                            : '–'
                            }}
                        </td>
                        <td class="mx-10 py-4 whitespace-no-wrap border-b border-gray-200 text-green-500 font-semibold">
                            {{
                            (room.quantity - room.quantityReserved) !== 0
                            ? (room.quantity - room.quantityReserved)
                            :'–'
                            }}
                        </td>
                        <td class="mx-10 py-4 whitespace-no-wrap border-b border-gray-200">{{ hotel.name }}</td>
                        <td class="mx-0 py-4 whitespace-no-wrap text-center border-b border-gray-200">
                            <button
                                class="bg-indigo-600 hover:bg-indigo-500 text-white font-semibold py-2 px-4 rounded-xl  mr-6"
                                (click)="updateRoom(hotel.id, room.id)">Редактировать</button>
                            <button
                                class="bg-red-500 hover:bg-red-700 text-white font-semibold py-2 px-4 rounded-xl mt-2 mr-5"
                                (click)="deleteRoom(hotel.id, room.id)">Удалить</button>
                        </td>
                    </tr>
                </tbody>
            </table>





            <!-- Modal Edit Room -->
            <div id="modal-room" tabindex="-1" aria-hidden="true"
                class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-modal md:h-full">
                <div class="relative w-full h-full max-w-2xl md:h-auto">

                    <div class="relative bg-white rounded-2xl shadow dark:bg-gray-700">
                        <div class="flex items-start justify-between p-5 border-b rounded-t dark:border-gray-600">
                            <h3 class="text-xl font-semibold text-gray-900 lg:text-2xl dark:text-white">
                                Редактировать комнату
                            </h3>
                            <button type="button" (click)="closeModalRoom()"
                                class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white">
                                <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                        clip-rule="evenodd"></path>
                                </svg>
                            </button>
                        </div>

                        <form class="px-4" *ngIf="currentHotel !== undefined" [formGroup]="roomForm">
                            <div class="p-6">
                                <div class="mr-10">
                                    <label for="sleepingPlaces" class="block text-gray-700 text-xl ">
                                        Количество спальных мест:
                                    </label>
                                    <input formControlName="sleepingPlaces" id="sleepingPlaces" name="sleepingPlaces"
                                        type="text"
                                        class="border rounded-md px-3 py-1.5 text-md focus:outline-none focus:ring w-52 mt-2"
                                        [value]="currentRoom!.sleepingPlaces">
                                </div>

                                <div class="mr-10 mt-4">
                                    <label for="description" class="block text-gray-700 text-xl ">
                                        Краткое описание отеля:
                                    </label>
                                    <input formControlName="description" id="description" name="description" type="text"
                                        class="border rounded-md px-3 py-1.5 text-md focus:outline-none focus:ring w-3/4 mt-2"
                                        [value]="currentHotel!.description">
                                </div>

                                <div class="mr-10 mt-4">
                                    <label for="stars" class="block text-gray-700 text-xl ">
                                        Количество звезд:
                                    </label>
                                    <input formControlName="stars" id="stars" name="stars" type="number" min="1" max="5"
                                        class="border rounded-md px-3 py-1.5 text-md focus:outline-none focus:ring w-48 mt-2"
                                        [value]="currentHotel!.stars">
                                </div>
                            </div>
                        </form>
                        <div *ngIf="currentHotel"
                            class="flex items-center p-6 space-x-2 border-t border-gray-200 rounded-b dark:border-gray-600 ml-4">
                            <button type="button"
                                class="text-white bg-indigo-600 hover:bg-indigo-500 focus:ring-4 focus:outline-none focus:ring-indigo-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-indigo-600 dark:hover:bg-indigo-700 dark:focus:ring-indigo-800"
                                (click)="updateHotel(currentHotel!.id)">
                                Обновить
                            </button>
                            <button type="button"
                                class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-indigo-300 rounded-lg border border-gray-300 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600"
                                (click)="closeModal()">
                                Отмена
                            </button>
                        </div>

                    </div>
                </div>
            </div>


            <!-- Modal create room -->
            <div id="modal-room-create" tabindex="-1" aria-hidden="true"
                class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
                <div class="relative p-4 w-full max-w-md max-h-full">
                    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                        <div
                            class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                            <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
                                Добавить комнату
                            </h3>
                            <button type="button" (click)="closeModalCreateRoom()"
                                class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
                                data-modal-toggle="modal-room-create" data-modal-target="modal-room-create">
                                <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                                    viewBox="0 0 14 14">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                                </svg>
                            </button>
                        </div>
                        <form class="p-4 md:p-5" [formGroup]="roomFormCreate">
                            <div class="grid gap-4 mb-4 grid-cols-2">
                                <div class="col-span-2">
                                    <!-- <label for="name"
                                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                                        Отель
                                    </label>
                                    <input type="text" name="name" id="name"
                                        class="bg-gray-50 border font-semibold border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                                        placeholder="Введите название" required="" readonly [value]="hotel.name"> -->
                                </div>
                                <div class="col-span-2 sm:col-span-1">
                                    <label for="sleepingPlaces"
                                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                                        Спальные места
                                    </label>
                                    <input type="number" name="sleepingPlaces" id="sleepingPlaces"
                                        formControlName="sleepingPlaces" min="1" max="16"
                                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                                        placeholder="Кол-во спальных мест" required="">
                                </div>
                                <div class="col-span-2 sm:col-span-1">
                                    <label for="price"
                                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                                        Стоимость за одни сутки
                                    </label>
                                    <input type="number" name="price" id="price" formControlName="price" min="1"
                                        max="999"
                                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                                        placeholder="В белорусских рублях (BYN)" required="">
                                </div>
                                <div class="mb-4 col-span-2">
                                    <label for="roomTypeId" class="mb-2 block">Тип номера:</label>
                                    <select formControlName="roomTypeId" id="roomTypeId"
                                        class="border border-gray-300 px-3 py-2 rounded-md w-full">
                                        <option value="" disabled selected>Выберите тип</option>
                                        <option *ngFor="let type of roomTypes" [value]="type.id">{{ type.name }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <button (click)="createRoom(hotel)"
                                class="mt-4 text-white inline-flex items-center bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-indigo-800">
                                <svg class="me-1 -ms-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z"
                                        clip-rule="evenodd"></path>
                                </svg>
                                Добавить комнату
                            </button>
                        </form>
                    </div>
                </div>
            </div>





        </div>
    </div>
</div>